@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
  list-style: none;

  /* background: black; */
}
/*basic reset*/
* {
  margin: 0;
  padding: 0;
} 
html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  /* background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  top: 0;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  margin-top: 10px;
  height: 40px;
  width: 120px;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  /* padding: 50px; */
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  padding: 50px;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 1250px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }

  /* SEARCH DISABLED ON MOBILE */

  #search-icon {
    display: none;
  }

  .search-input {
    display: none;
  }
}

hr {
  margin-top: 25px;
  /* height: 1px; */
  background-color: skyblue;
  border: none;
  height: 5px;
  width: 80%;
}

.select-temp {
  min-height: calc(100vh - 260px);
}

.select-temp h1 {
  font-size: 40px;
  color: #000;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 20px !important;
  /* margin: 0 auto; */
}

.select-temp p {
  color: #b0bbd1;
  margin-bottom: 30px;
  max-width: 745px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-left: 50px;
}

/* Form */
/*form styles*/
#msform {
  width: 100%;
  margin: 50px auto;
  /* text-align: center; */
  position: relative;
}

#msform h2, h3, li{
  text-align: center;
}
label {
  display: block;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  resize: none;
}

#msform fieldset #story{
  display: flex;
  /* position:absolute; */
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* width: 1000px; */
}


fieldset #storybtn{
  /* display: flex; */
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  width: 150px;
  height: 20px;
  border-radius: 5px;
  font-weight: 600;
  display: none;
  margin-bottom: 10px;
  float: right;
  position:relative;
  /* margin-left: 930px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 1000px; */
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .action {
  width: 100px;
  background: black;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .remove_item_btn{
  width: 100px;
  background: rgb(172, 68, 68);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .previous .action-button{
  width: 200px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  /* width: 100%; */
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: white;
  background: black;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}

.hrefa a{
  color: red;
}

.chatbox{
  position: relative;
  z-index: 1;
  margin-top: -30%;
  display: none;
  background-color: gainsboro;
  height: 400px;
  width: 350px;
  float: right;
  margin-right: 100px;
  /* border-top: 10px solid pink; */
  /* border: 1px solid black; */
  border-radius: 15px;
  overflow: scroll;
}

.chatbox .header p{
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
}

.chatbox .header{
  background-color: black;
}

.chatbox .body{
  display: block;
}

.gpt{
  float: left;
  margin: 10px;
  margin-left: 2px;
  background-color: black;
  color: white;
  width: 120px;
  text-align: center;
  height: 30px;
  border-radius:10px 0 0 0;
}

.write-here{
  margin-top: 280px;
  width: 120px;
  height: 20px;
}

.button-bar {
  margin-top: 280px;
  padding: 2rem;
  /* background: gray; */
  position: sticky;
  bottom: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}


.button-bar button{
  border-radius: 20px;
  background-color: black;
  color: white;
  width: 120px;
  height: 30px;
  cursor: pointer;
}

.button-bar button:hover{
  background-color: white;
  color: black;
}

/* Floating BUtton */
.floating{
  display: none;
}
.label-container{
	position:fixed;
	bottom:48px;
	right:120px;
  /* top: 500px; */
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:70px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size: 23px;
  font-weight: 600;
	box-shadow: 2px 2px 3px #999;
  /* visibility: hidden; */
}

.my-float{
	/* font-size:100px; */
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}